*_data
input_for*
result*txt
*.e*
*.o*
core*
squad_data
pred_*
nbest_*
all_results_*
result_*
converted_*
pytorch_cuda_tensorflow
*_cached_*
*_cache_*
squad_cache
bioner_data
save_dir
*log*
*__pycache__*
