*_data
input_for*
result*txt
*.e*
*.o*
core*
squad_data
pred_*
qas_*
*.json
converted_*
nbest_*
all_results_*
key_models
key_results
ner_data
result_*
converted_*
pytorch_cuda_tensorflow
*_cached_*
*_cache_*
squad_cache
bioner_data
save_dir
*log*
*__pycache__*
